# Python
__pycache__/
*.py[cod]
*$py.class

.env
.venv/
env/
venv/
ENV/

.idea/
*.iml

htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

*.log


*.sqlite3
*.db
test_db.db

.env


dist/
build/
*.egg-info/
.eggs/
*.egg
*.manifest
*.spec
